class CreateApprovalComments < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :approval_comments do |t|
      t.integer :request_id, null: false
      t.integer :user_id,    null: false
      t.text    :content,    null: false

      t.timestamps

      t.index :request_id
      t.index :user_id
    end
  end
end
